@font-face {
    font-family: 'HelveticaNeueCondenseBlack';
    src: url('../fonts/HelveticaNeueCondenseBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.ttf') format('truetype');
}
html,body{
	background: url("../img/patron.jpg");
}
h1{
	text-align: center;
	color: #b7b7b7;
	font-family:'HelveticaNeueLight',Helvetica, Arial, sans-serif;
	font-weight: normal;
}
a{
	color: white;
}
#wrapper{
    padding-top: 1px;
    z-index: 100;
    background: url("../img/patron.jpg");
}
#titulos{
	margin: 20px 0px;
}
#reproductor{
	background: #272626;
	padding: 2.5% 0;
}
#caja{
	color: #666666;
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 auto;
}
#caja>img{
	height: 220px;
}
video{
	height: 200px;
	width: 100%;
}